<header class="header">
<div class="header_top">
    <div class="logo">
        <a href="/" class="logo__tallam">Tallam</a>
        <h2 class="header__institution" id="header__institution">{{school_name}}</h2>
    </div>
    <nav class="main_nav main_nav--not_for_hide" id="main_nav">
        <ul class="main_nav__items">
            <li class="main_nav__item"><a href="/auth/logout/" class="main_nav__link main_nav__link--log_out">Выйти</a></li>
        </ul>
    </nav>
    <nav class="second_nav">
                <ul class="second_nav__items">
                    <li class="second_nav__item"><a href="/school/project/{{project_id}}" class="second_nav__link">Вернуться на главную страницу проекта</a></li>
                    <li class="second_nav__item"><a href="/school/card/add/project/{{project_id}}/teacher/{{teacher_id}}" class="second_nav__link">Оценить</a></li>
                </ul>
    </nav>
</div>
</header>
<main>   
    <section>
        {{#if notice}}
            <h3> {{ notice}}</h3>
        {{/if}}
    </section> 
        <section class="teacher-card">
            <div class="teacher-card__title">
                {{#if teacher}}
                    {{#each teacher}}
                    <h1>Личный профиль</h1>
                        <h2>ФИО: <span style="text-decoration:underline; text-transform:uppercase">{{surname}} {{firstname}} {{patronymic}} </span></h2>
                    {{/each}}
                {{else}}
                    нет данных
                {{/if}}
            </div>
            
            <div class="teacher-card__second-title">
                
                <form  method="POST">
                    
                    <select name="card-results-sourse" id="card-results-sourse" class="card_fields">
                        <option value="all"  > Тип оценки </option>
                        <option value="1" {{selected 1 currentSourceId}}> Отобразить результаты внешней проверки</option>
                        <option value="2" {{selected 2 currentSourceId}}> Отобразить результаты внтуренней проверки</option>
                    </select>   
                    <select name="card-results-discipline" id="card-results-discipline" class="card_fields">
                        {{#if disciplineListByTeacherId}}
                             <option value="all" > Выбрать предмет</option>
                            {{#each disciplineListByTeacherId}}
                                <option value="{{discipline_id}}"{{selected discipline_id ../currentDisc}}>  {{title_discipline}}</option>
                            {{/each}}
                        {{else}}
                        <option value="">Нет предмета</option>
                        {{/if}}
                    </select> 
                    
                    <input type="hidden" name="id_teacher" value="{{teacher_id}}" id="id_teacher">
                    <input type="hidden" name="school_id" value="{{school_id}}" id="school_id">
                    <input type="hidden" name="project_id" value="{{project_id}}" id="project_id">
                    <input type="hidden" name="_csrf" value="{{@root.csrf}}" id="token">
                    <button type="submit" class="btn-search card_fields"> Отобразить результаты по фильтру</button> 
                </form>
            </div>

            <div class="teacher-card__tbl table_section">
                <h3 style="text-align:center; ">Список оценок (оценки уроков) </h3>
                <table class="tg personal_card">
                <thead>
                    <tr class="for_hide">
                        <th class="tg-fymr">№</th>
                        <th class="tg-fymr">Дата</th>
                        <th class="tg-0pky"><span style="font-weight:bold;font-style:normal">Критерии оценки урока </span></th>
                        <th class="tg-fymr">Предмет</th>
                        <th class="tg-fymr">Класс</th>
                        <th class="tg-fymr">Тип оценки</th>
                    </tr>
                </thead>
                <tbody>
                {{#if card}}
                    {{#each card}}
                    <tr class="hov-link" data-href="/school/card/single/{{id_card}}/project/{{../project_id}}">
                        <td class="tg-0pky"> {{increment @index}}</td>
                        <td class="tg-0pky">{{day}} {{getMonthFromArray month}} {{year}}</td>
                        <td class="tg-0pky">{{level}}</td>
                        <td class="tg-0pky">{{title_discipline}}</td>
                        <td class="tg-0pky">{{class_id}}</td>
                        <td class="tg-0pky">{{getSource source_id}} </td>
                    </tr>
                    {{/each}}
                {{else}}
                    <tr>
                         <td class="tg-fymr" colspan="15"> нет данных</td>
                    </tr>
                {{/if}}
                </tbody>
                </table>
            </div>
           
        </section>  
    </main>

<div class="black"></div>

<script>
    $('tr[data-href]').on("click", function() {
         document.location = $(this).data('href');
    }); 
</script>


