<style>
    .modalAva {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    z-index: 999;
    }


    .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 

    }


    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: #487BB7;
    text-decoration: none;
    cursor: pointer;
    }

    .profile-btn {
        border: none;
        background-color: inherit;
        cursor: pointer;
    }

    /*стили для формы загрузки фото профиля*/
    #drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
    }
    #drop-area.highlight {
    border-color: purple;
    }
    p {
    margin-top: 0;
    }
    .my-form {
    margin-bottom: 10px;
    }
    #gallery {
    margin-top: 10px;
    }
    #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
    }
    .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    }
    .button:hover {
    background: #ddd;
    }
    #fileElem {
    display: none;
    }
    
</style>
<header class="header">
<div class="header_top">
    <div class="logo">
        <a href="/" class="logo__tallam">Tallam</a>
        <h2 class="header__institution" id="header__institution">{{school_name}}</h2>
    </div>
    <a href="#" class="menu_btn" id="menu_btn">
        <span></span>
    </a>
    <nav class="main_nav" id="main_nav">
        <ul class="main_nav__items">
            <!-- <li class="main_nav__item"><a href="#" class="main_nav__link">Проекты</a></li> -->
            <li class="main_nav__item"><a href="/auth/logout/" class="main_nav__link main_nav__link--log_out">Выйти</a></li>
        </ul>
    </nav>
    <nav class="second_nav">
        <ul class="second_nav__items">
            <li class="second_nav__item"><a href="/" id="myBtn" class="second_nav__link"> Вернуться на главную </a></li>
        </ul>
    </nav> 
</div>
</header>
<main>   
    <section>
        {{#if notice}}
            <h3> {{ notice}}</h3>
        {{/if}}
        {{#if error}}
            <h3> {{ error}}</h3>
        {{/if}}
    </section>
    <section class="profile">
            {{#if teacher.length}}
            {{#each teacher}}
        <div class="profile__photo">
            <img src="/img/teachers/uploads/avatars/{{avatar}}"  alt="Фото">
            <button class="profile-btn" id="addAva">Редактировать</button>

            <div id="modalAva" class="modalAva">

                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="drop-area">
                        <form class="my-form" action="/school/list/upload" enctype="multipart/form-data">
                            <p>Загрузите изображения с помощью диалога выбора файлов или перетащив нужные изображения в выделенную область</p>
                            <input type="file" id="fileElem" name="avatar"  accept="image/*" onchange="return handleFiles(this.files)">
                            <label class="button" for="fileElem">Выбрать изображения</label>
                            <input type="hidden" name="_csrf" value="{{@root.csrf}}" id="token1">
                            <input type="hidden" name="teacher_id" value="{{id_teacher}}" id="teacher_id">
                        </form>
                        <div id="gallery"></div>
                            <progress id="progress-bar" max=100 value=0></progress>
                    </div>
                </div>
            </div>

        </div>
        </div>
        
        <div class="profile__info">

            <section class="profile__block personal">
                <h2 class="profile__title">Личные данные</h2>
                <div class="personal__buttons">
                    <a href="/school/list/edit/{{id_teacher}}"> Редактировать </a>
                    <!-- <a href="#">Оценить</a> -->
                </div>
                <div>
                    <div>
                        <h4 class="profile__subtitle">ФИО</h4> 
                        
                        <p class="personal__fullname">{{surname}}  {{firstname}} {{patronymic}}</p>
                    </div>
                    <div>
                        <h4 class="profile__subtitle">Дата рождения</h4>
                        <p class="personal__birthday"> {{../birthdayShort}}</p>
                    </div>  
                    <div>
                        <h4 class="profile__subtitle">СНИЛС</h4> 
                        <p class="personal__snils">{{snils}}</p>
                    </div>
                </div>
            </section>

            <section class="profile__block profile__education education">
                <h2 class="profile__title">Образование</h2>
                <div>
                    <div>
                        <h4 class="profile__subtitle">Образование</h4>
                        <p class="education__name">{{title_edu_level}}</p>
                    </div>
                    <div>
                        <h4 class="profile__subtitle ">Номер документа</h4>
                        <p class="education__document">{{diploma}}</p>
                    </div>
                </div>
            </section>

            <section class="profile__block profile__education education">
                <h2 class="profile__title">Профессиональные данные</h2>
                <div>
                    <div>
                        <h4 class="profile__subtitle">Должность</h4> 
                        <p class="personal__position">{{ title_position}}</p>
                    </div>
                    <div>
                        <h4 class="profile__subtitle ">Категория</h4>
                        <p class="title_category">{{title_category}}</p>
                    </div>
                    <div>
            
                        <h4 class="profile__subtitle ">Преподваемые дисциплины:</h4>
                        {{#if ../discipline.length}}
                        <ol class="training__projects projects__list">
                        {{#each ../discipline}}
                            <li style="list-style-type: none;"> <p class="title_category" >{{title_discipline}}</p></li>
                        {{/each}}
                        </ol>
                        
                        {{else}}
                            <p class="title_category"> нет </p>
                        {{/if}}
                    </div>
                </div>
            </section>

            <section class="profile__block profile__contacts contacts">
                <h2 class="profile__title">Контактные данные</h2>
                <div>
                    <div>
                        <h4 class="profile__subtitle">Email</h4>
                        <p class="contacts__email">{{email}}</p>
                    </div>
                    
                    <div>
                        <h4 class="profile__subtitle">Телефон</h4>
                        <p class="contacts__phone">{{phone}}</p>
                        </div>
                </div>
            </section>
            {{/each}}
                {{else}}
            <h2> Работник отсутствует!</h2>
                {{/if}}
            <section class="profile__block profile__training training">
                <h2 class="profile__title">Повышение квалификации  </h2>
                <h4>Сведения о последних пройденных КПК</h4>
                {{#if kpk.length}}
                    {{#each kpk}}
                    <div>
                        <h4 class="profile__subtitle">Наименование программы КПК, место прохождения</h4>
                        <p class="training__name">{{place_training}}</p>
                    </div>
                    <div>
                        <h4 class="profile__subtitle">Год прохождения</h4>
                        <p class="training__place">{{year_training}}</p>
                    </div>
                    {{/each}}
                {{else}}
                <h3> Отсутствует информация о прохождении КПК</h3>
                {{/if}}
            </section>
         
            <section class="profile__block profile__training training">
                <h2 class="profile__title">Проекты, в которых участвует учитель</h2>
                <table>
                    <tr>
                        <td><h4 class="profile__subtitle">Проекты </h4></td>
                        <td style="width: 60%">
                            
                            <ol class="training__projects projects__list">
                            {{#if issetInProjects }}
                            {{#each issetInProjects}}
                                <li class="project"><p class="project__name"> {{name_project}} </p></li>
                            {{/each}}
                            {{else}}
                                <li class="project"><p class="project__name"> не участвует  </p></li>
                            {{/if}}
                            </ol>
                        </td>
                    </tr>
                </table>  
            </section> 
        </div>
            <a href="/school/list/delete_profile/{{teacher_id}}" class="profile__button profile__button--delete">Удалить профиль</a> 
           
            <div class="modal modal--delete_profile">
                <div class="modal__cross modal__cross--delete_profile">x</div>
                <h3 class="modal__question">Вы уверены, что хотите удалить этот профиль?</h3>
                <button type="button" class="modal__answer modal__answer--yes">Да</button>
                <button type="button" class="modal__answer modal__answer--no">Нет</button>
            </div>
    </section> 
</main>
<div class="black"></div>

<script type="text/javascript">

let menuButton = document.querySelector(".menu_btn");

menuButton.addEventListener('click', toggleMenu);

function toggleMenu() {
    let mainNav = document.querySelector('.main_nav');
    /* let inst = document.querySelector('.header__institution'); */

    menuButton.classList.toggle('menu_btn--active');
    mainNav.classList.toggle('main_nav--active');
    /* inst.classList.toggle('header__institution--without_nav'); */

    return false;
}


    let menuItems = document.querySelectorAll('.second_nav__item a');
    let locationIndex = window.location.pathname.lastIndexOf('/');
    let documentLocation = window.location.pathname.slice(locationIndex+1, );

    menuItems.forEach(item => {
        let itemIndex = item.attributes.href.value.lastIndexOf('/');
        let itemHref = item.attributes.href.value.slice(itemIndex+1, );
        if(itemHref == documentLocation){
            item.classList.add('active');
        }
    })


let black = document.querySelector('.black');
let body = document.querySelector('body');

let popUp = document.querySelector('.modal--pop_up');
let popUpCloseButton = document.querySelector('.modal__cross--pop_up');
let popUpOk =  document.querySelector('.pop_up__ok');

if(popUpCloseButton){ 
    popUpCloseButton.addEventListener('click', closeModal(popUp));
    popUpOk.addEventListener('click', closeModal(popUp));
}

let success = document.querySelector('.success');
let popUpCloseTimer;

if(success){
    success.addEventListener('click', () => {
        openModal(popUp)(); 
        popUpCloseTimer = setTimeout(closeModal(popUp), 10000);
    });
}

black.addEventListener('click', () => {
    let modals = document.querySelectorAll('.modal');
    modals.forEach(modal => closeModal(modal)());
    clearTimeout(popUpCloseTimer);
} );

document.addEventListener('keyup', event => {
    if (event.keyCode === 27) {
        closeModal(popUp)();
    }
})

function closeModal(modal) {
    if (modal === null) return;
    return () => {
        modal.style.opacity = '0';
        modal.style.transform = 'translateY(-100vh)';
        black.style.display = 'none';
        body.style.overflow= '';
    };
}

function openModal(modal) { 
    if (modal === null) return;
    return () => {
        modal.style.opacity = '1';
        modal.style.transform = 'translateY(0px)';
        black.style.display = 'block';
        body.style.overflow= 'hidden';
    };
}

        let modal =  document.querySelector('.modal--delete_profile');
        let cross = document.querySelector('.modal__cross--delete_profile');
        let closeButton = document.querySelector('.modal__answer--no');

        let deleteButton = document.querySelector('.profile__button--delete');
        deleteButton.addEventListener('click', openModal(modal));


        closeButton.addEventListener('click', closeModal(modal));
        cross.addEventListener('click', closeModal(modal));

        black.addEventListener('click', closeModal(modal));

        document.addEventListener('keyup', event => {
            if (event.keyCode === 27) {
                closeModal(modal)();
            }
        })

        //PROFILE PHOTO MODAL
        var modalAva = document.getElementById("modalAva");

        var btn = document.getElementById("addAva");

        var span = document.getElementsByClassName("close")[0];

        btn.addEventListener('click', (event) => {
            event.preventDefault()
            modalAva.style.display = "block";
        })

        span.onclick = function() {
         modalAva.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modalAva) {
            modalAva.style.display = "none";
            }
        }

        let filesDone = 0
        let filesToDo = 0
        let progressBar = document.getElementById('progress-bar')

        let dropArea = document.getElementById('drop-area');
            ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false)
        })

        function preventDefaults (e) {
            e.preventDefault()
            e.stopPropagation()
        }

        ['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, highlight, false)
        });

        ['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false)
        });

        function highlight(e) {
            dropArea.classList.add('highlight')
        }
        
        function unhighlight(e) {
            dropArea.classList.remove('highlight')
        }

        dropArea.addEventListener('drop', handleDrop, false)
        function handleDrop(e) {
            let dt = e.dataTransfer
            let files = dt.files
            handleFiles(files)
        }

        function handleFiles(files) {
        //files = [...files]
            initializeProgress(files.length)
            uploadFile(files[0])
        }


        async function uploadFile(file) {
            let url = '/school/list/upload'
            let formData = new FormData()
            let teacher_id = document.querySelector("#teacher_id").value
            formData.append('file', file)
            formData.append('teacher_id', teacher_id)
            let _csrf = document.querySelector('#token1').value
            
                await fetch(url, {
                method: 'POST',
                headers: {
                'CSRF-Token': _csrf
                },
                redirect: 'follow',
                body: formData
                })
                .then(progressDone).then(window.location.replace('/school/list/'+teacher_id)) 
                .catch((e) => {console.log(e.message)})
        }

        function previewFile(file) {
            let reader = new FileReader()
            reader.readAsDataURL(file)
            reader.onloadend = function() {
                let img = document.createElement('img')
                img.src = reader.result
                document.getElementById('gallery').appendChild(img)
            }
        }

        function initializeProgress(numfiles) {
            progressBar.value = 0
            filesDone = 0
            filesToDo = numfiles
        }
        function progressDone() {
            filesDone++
            progressBar.value = filesDone / filesToDo * 100
        }

</script>
